body{
    font-family: 'Epilogue', sans-serif;
}
.section1{
     background-color:#28293E; 
     padding-left:135px ; 
     padding-right:135px ;
}

.section2{
    background-color:#FDF0E9; 
    padding-left:135px ; 
    padding-right:135px;
}

header{
    padding-top:16px ;
    display:flex;
    background-color: #28293E;
    color:#FFFFFF;
    justify-content:space-between;
    align-items: center;
}

.border01{
    font-size: 12px;
    border: 2px solid #3A3C56;
    border-radius: 10px;
    padding: 10px;
    
}
.logo,nav ,li{
    display:inline-block;
}

article{
    display:flex;
}
.li1 li{
    margin-left: 120px;
}
.text{
    margin-top: 200px ;
    font-family: 'Epilogue', sans-serif;
}
.text h2{
    padding-top: 10px;
    font-size:75px ;
    color:#FFFFFF ;
}
.text p{
    font-size: 16px;
}
.foto1{
    margin-left: 144px;
}
.text h1,.nav1{
    padding-top: 10px;
    color: #EF6D58; ;
}
.text p{
    padding-top: 10px;
    color: #FFFFFFA3;
}
.nav1{
    font-size: 12px;
    border: 2px solid #3A3C56;
    background-color: #EF6D58;
    border-radius: 10px;
    padding:10px;
    color:#FFFFFF ;
}
.text2 h1{
    font-size: 16px;
    margin-bottom:88px;
    margin-left: 640.7px;
    margin-top: 101px;
}
.text2 h2{
    font-size: 56px;
    padding-left: 500px;
    padding-bottom:66px ;
}
.fot2 div{
    background-color:yello;
    display:flex;
    font-size:12px;
    align-items: center;
    padding-bottom: 60px;
}
.foot2 div{
    margin-left: 100px;
    background-color: gree;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
.text3{
    margin-left: 100px;
}
.service{
    background-color:#FDF0E9 ;
    padding-bottom: 100px;
    font-size: 16px;
    padding-top: 50px;
    display: flex;
    margin-left: 500px ;
}
.section3{
    padding-left: 135px;
    padding-right: 135px;
}

.section3 header{ 
    background-color:#28293E;
    padding-bottom: 82px;
    padding-top: 117px;
}
.section03 h1{
    font-size: 16px;
    color: #EF6D58;
}
.section03 h2{
    font-size: 56px;
    padding-top: 15px;
    color:#FFFFFF;
}
img{
    max-width: 100%;

}


.portfolio-item{
    width: 400px;
    width: 33.33;
    padding: 5px;
    border: 3px solid #3A3C56;
    position: relative;
}

.portfolio-title{
    position:absolute;
    color: #FDF0E9;
    padding-left: 20px;
    padding-bottom: 30px;
}
.section3{

    background-color: #28293E;
}

.section4 header,.footer1
{
    padding-left: 135px;
    padding-right: 135px;
    background-color:#FDF0E9;
}
.fot7 img{
    padding-top: 188px;
}
.nav11{
    font-size: 12px;
    border: 2px solid#F9E5DA ;
    background-color: #EF6D58;
    border-radius: 10px ;
    padding:10px;
    color:#FFFFFF ;
}
.padding{
    padding-top: 100px;
    padding-right: 100px;
}
.padding h2{
    padding-top: 16px;
    padding-bottom: 25px;
}
.padding h3{
    padding-bottom: 20px;
}
.padding p{
    padding-bottom: 55px;
}
.footer1{
    background-color:yell ;
    display:flex;
    padding-top: 174px;
    padding-bottom: 112px;
}
.footer1 img{
    background-color:#EF6D58;
}
.fot8{
    padding-left: 50px;
}
.fot9{
    padding-left: 450px;
}.fot8 div{
    padding-left: 10px;
}
.fot9 div{
    padding-left: 10px;
}
.section5{
    padding-bottom: 159px;
    padding-top: 162px;
    display: flex;
    background-color:#28293e;
    padding-left: 135px;
    padding-right: 135px;
    color: #FFFFFF;
}
.section05 h1{
    padding-bottom: 20px;
    color: #EF6D58;
    font-size: 16px;
}
.section05 h2{
    padding-bottom: 16px;
    font-size:56px ;
}
.section05 p{
    padding-bottom: 20px;
    font-size: 20p;
}
.li2 div{
    padding-top: 20px;
}
.fot10{
    padding-left: 150px;
}
.text5{
    padding-left: 135px;
    padding-right: 135px;
    padding-top:47px ;
    padding-bottom: 47px;
    background-color:#F9E5DA;
    display:flex;
}
.text5 img{
    padding-left:150px;
}
.text05{
    color:#391400A3 ;
    font-size: 16px;
    padding-left: 100px;
    margin-top: 110px;
}
.text005{
    color: #EF6D58;
    padding-top: 70px;
}
.text005 h2{
    color:#391400 ;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section6{
    display: flex;
    background-color:green;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 300px;
}
.section06{
    color: #EF6D58;
    padding-left: 500px;
    padding-top: 100px;
}
.section06 h2{
    color:#391400 ;
    font-size: 56px;
}
.section06 h1{
    padding-left: 40px;
    padding-bottom: 15px;
}
.nav10{
    font-size: 12px;
    border: 2px solid#F9E5DA ;
    background-color: #EF6D58;
    border-radius: 10px;
    padding:10px;
    color:#FFFFFF ;
}