body{
    background-color: yellow;
    padding-left:135px ; 
    padding-right:135px;
}

header{
    padding-top:16px ;
    display:flex;
    background-color: #28293E;
    color:#FFFFFF;
    justify-content:space-between;
    align-items: center;
}
.logo,nav,li{
    display:inline-block;
}
article{
    display: flex;
}