body{
    font-family: 'Epilogue', sans-serif;
}
.section1{
     background-color:#28293E; 
     padding-left:135px ; 
     padding-right:135px ;
}

.section2{
    background-color:#FDF0E9; 
    padding-left:135px ; 
    padding-right:135px;
}

header{
    padding-top:16px ;
    display:flex;
    background-color: #28293E;
    color:#FFFFFF;
    justify-content:space-between;
    align-items: center;
}

.border01{
    font-size: 12px;
    border: 2px solid #3A3C56;
    border-radius: 10px;
    padding: 10px;
    
}
.logo,nav ,li{
    display:inline-block;
}

article{
    display:flex;
}
.li1 li{
    margin-left: 120px;
}
.text{
    margin-top: 200px ;
    font-family: 'Epilogue', sans-serif;
}
.text h2{
    padding-top: 10px;
    font-size:75px ;
    color:#FFFFFF ;
}
.text p{
    font-size: 16px;
}
.foto1{
    margin-left: 144px;
}
.text h1,.nav1{
    padding-top: 10px;
    color: #EF6D58; ;
}
.text p{
    padding-top: 10px;
    color: #FFFFFFA3;
}
.nav1{
    font-size: 12px;
    border: 2px solid #3A3C56;
    background-color: #EF6D58;
    border-radius: 10px;
    padding:10px;
    color:#FFFFFF ;
}
.text2 h1{
    font-size: 16px;
    margin-bottom:88px;
    margin-left: 640.7px;
    margin-top: 101px;
}
.text2 h2{
    font-size: 56px;
    padding-left: 500px;
    padding-bottom:66px ;
}
.fot2 div{
    background-color:yello;
    display:flex;
    font-size:12px;
    align-items: center;
    padding-bottom: 60px;
}
.foot2 div{
    margin-left: 100px;
    background-color: gree;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
.text3{
    margin-left: 100px;
}
.service{
    background-color:#FDF0E9 ;
    padding-bottom: 100px;
    font-size: 16px;
    padding-top: 50px;
    display: flex;
    margin-left: 500px ;
}
.section3{
    padding-left: 135px;
    padding-right: 135px;
}

.section3 header{ 
    background-color:#28293E;
    padding-bottom: 82px;
    padding-top: 117px;
}
.section03 h1{
    font-size: 16px;
    color: #EF6D58;
}
.section03 h2{
    font-size: 56px;
    padding-top: 15px;
    color:#FFFFFF;
}
img{
    max-width: 100%;

}


.portfolio-item{
    width: 400px;
    width: 33.33;
    padding: 5px;
    border: 3px solid #3A3C56;
    position: relative;
    overflow:hidden;
}

.portfolio-title{
    position:absolute;
    bottom: 10%;
    left: 30px;
    color: #FDF0E9;
    transition: relative;
    transition: all .6s;
}


.portfolio-title div{
    border: 3px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #391400;
    font-size: 16px;
    padding: 5px;
}
.portfolio-title h2{
    font-size: 40px;
}
.section3{

    background-color: #28293E;
}
.portfolio-item:hover .portfolio-title :hover{
    padding-bottom: 35%;
    background-color: red;
    transform: scale(1.2);
    transform: rotate(2000deg);
}
.portfolio-item:hover img{
    transform: scale(1.2);
}



.section4 header,.footer1
{
    padding-left: 135px;
    padding-right: 135px;
    background-color:#FDF0E9;
}
.fot7 img{
    padding-top: 188px;
}
.nav11{
    font-size: 12px;
    border: 2px solid#F9E5DA ;
    background-color: #EF6D58;
    border-radius: 10px ;
    padding:10px;
    color:#FFFFFF ;
}
.padding{
    padding-top: 100px;
    padding-right: 100px;
}
.padding h2{
    padding-top: 16px;
    padding-bottom: 25px;
}
.padding h3{
    padding-bottom: 20px;
}
.padding p{
    padding-bottom: 55px;
}
.footer1{
    display:flex;
    padding-top: 174px;
    padding-bottom: 112px;
}
.footer1 img{
    background-color:#EF6D58;
}
.fot8{
    padding-left: 50px;
}
.fot9{
    padding-left: 450px;
}.fot8 div{
    padding-left: 10px;
}
.fot9 div{
    padding-left: 10px;
}
.section5{
    padding-bottom: 159px;
    padding-top: 162px;
    display: flex;
    background-color:#28293e;
    padding-left: 135px;
    padding-right: 135px;
    color: #FFFFFF;
}
.section05 h1{
    padding-bottom: 20px;
    color: #EF6D58;
    font-size: 16px;
}
.section05 h2{
    padding-bottom: 16px;
    font-size:56px ;
}
.section05 p{
    padding-bottom: 20px;
    font-size: 20p;
}
.li2 div{
    padding-top: 20px;
}
.fot10{
    padding-left: 150px;
}
.text5{
    padding-left: 135px;
    padding-right: 135px;
    padding-top:47px ;
    padding-bottom: 47px;
    background-color:#F9E5DA;
    display:flex;
}
.text5 img{
    padding-left:150px;
}
.text05{
    color:#391400A3 ;
    font-size: 16px;
    padding-left: 100px;
    margin-top: 110px;
}
.text005{
    color: #EF6D58;
    padding-top: 70px;
}
.text005 h2{
    color:#391400 ;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav10{
    font-size: 12px;
    border: 2px solid#F9E5DA ;
    background-color: #EF6D58;
    border-radius: 10px;
    padding:10px;
    color:#FFFFFF ;
}

.section6{
    background-color:#FDF0E9;
    padding-left: 135px;
    padding-right: 135px;
}
.section06{
    display: inline-block;
    padding-left: 400px;
    text-align: center;
}
.section06 h1{
    color: #EF6D58;
    font-size: 16px;
    padding-top: 35px;
    padding-bottom: 15px;
}
.section06 h2{
    color:#391400 ;
    font-size: 56px;
}


.section006{
    padding-top: 67px;
    padding-bottom: 150px;
    display: flex;
    
}
.graham, .alan, .richardo{
    
    border:2px solid #F9E5DA; 
    padding: 60px;
}
.grahamfot, .alanfot, .richardofot{
    display: flex;
}
.section006 h2{
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: px;
}
.section006 h3{
    font-size: 16px;
    padding-left: 10px;
}
.graham p, .alan p, .richardo p{
    padding-top: 60px;
    padding-bottom: 30px;
}
.linkall{
    display:inline-block;
    border: 2px solid #F9E5DA;
    background-color:#FFFFFF;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    padding-left:25px ;
    padding-right: 25px;   
}
.section6{
    position: relative;
}
.linkall{
    position:absolute;
bottom:8%;
left: 700px;
}
.alan{
    background-color:#FFFFFF ;
}
.linkall:hover{
    bottom:100px;
    background-color: green;
    color:red;
    transform:scale(125%);
} 
.graham:hover, .alan:hover,.richardo:hover {
    transform: scale(1.1);
    background-color: yellowgreen;
}
.alan:hover{
    background-color: darkred;
}
.richardo:hover{
    background-color: saddlebrown;
}



.section7{
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 160px;
    padding-bottom: 50px;
    background-color:#28293E;
    color: #FFFFFF;
}
.section07 h1{
    color: #EF6D58;
    font-size: 16px;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.section07 h2{
    color:#FFFFFF ;
    font-size: 40px;
    letter-spacing: 0px;
    padding-bottom: 30px;
}
.section07 p{
    color:#FFFFFFA3 ;
    font-size: 16px;
    letter-spacing: 0px;
    padding-bottom: 30px;
}
.section07 div{
    color:#FFFFFF ;
    font-size: 16px;
}
.section7{
justify-content: space-between;
}
.section007 h2{
    font-size: 24px;
   padding: 30px;
}
.section007 p{
    padding: 30px;
}
.section70{
    background-color:#FFFFFF;
    color:#391400 ;
}
.section007{
    border: 1px solid #3A3C56;
    border-radius: 10px;
    opacity: 1;
}





.section8{
    background-color:#FDF0E9;
    padding-left: 135px;
    padding-right: 135px;

}
.section08{
    display: flex;
    padding-top: 97px;
    justify-content: space-between;
    align-items: self-end;

}
.section08 h1{
    font-size: 16px;
    color:#EF6D58;
    padding-bottom: 15px;
}
.section08 h2{
    font-size: 56px;
    color: #391400;
}
.section08 h3{
    border: 3px solid#39140014 ;
    justify-content: flex-end;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    background-color:#FFFFFF ;
    color:#391400;
}
.section008{
    display: flex;
    justify-content: space-between;
    padding-top: 67px;

}
.section0080 h3{
font-size: 18px;
color:#391400 ;
padding-top: 10px;
padding-bottom: 10px;
}
.section0080 h2{
    font-size: 30px;
    color: #391400;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section0080 div{
    font-size: 14px;
    color: #391400A3;
    padding-top: 10px;
    padding-bottom: 70px;
}
.section0081 h3{
    font-size: 18px;
    color:#391400 ;
    padding-top: 15px;
    padding-bottom: 15px;

}
.section0081 h2{
    font-size: 24px;
    color:#391400 ;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}
.section0081 div{
    font-size: 14px;
    color:#391400A3 ;
    padding-top: 15px;
    padding-bottom: 15px;

}
.section0008{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section0082 h2{
    font-size: 20px;
    color:#391400 ;
    padding: 10px;
}
.section0008 h3{
    font-size: 14px;
    color: #391400A3;
    padding-top: 10px;
}
.section0008 h5{
    font-size: 12px;
    border: 1px solid #F3D1BF;
    background-color:#FFFFFF ;
    color:#391400A3 ;
    border-radius: 6px;
    padding:10px;
    padding-left: 15px;
    padding-right:370px;

}
.section0008 h4{
    font-size: 14px;
    border: 1px solid#F3D1BF ;
    background:#FFFFFF ;
    color:#391400 ;
    border-radius: 6px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;;
}
.section0008{
    align-items: self-end;
}